<h1> Muhammaad Fachrul Rozy </h1>
<h2> 2009106091 </h2>
<h2> POSTTEST 5 </h2>

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Untuk Melakukan Data Cleaning
from sklearn.impute import SimpleImputer
#Untuk Melakukan Classifikasi KNN
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
#Untuk Melakukan Classifikasi NAIVE BAYES
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv("players.csv")

In [7]:
df

,name_pais,name,tag,rank,expLevel,trophies,name_clan,tag_clan,id_arena,name_arena
0,Afghanistan,f34r,#2UQ99VLU2,1,13,6148,PhatKatz,#G9LGQR,54000015,Master I
1,Afghanistan,Ķìňğ Ãìmãĺ,#QJRU92L,2,13,6005,God of War,#V2RUJ88,54000015,Master I
2,Afghanistan,L☯️I☯️Y☯️A☯️M,#800CLLPU8,3,13,5988,اسیرسرنوشت,#L2CC2L9C,54000015,Master I
3,Afghanistan,FRAIDOON ISHAQ,#9LLLJP8C,4,13,5920,Afghanistan,#PGV80J0P,54000014,Challenger III
4,Afghanistan,⚡king behzad⚡,#P9VLCU8Y9,5,13,5912,Delta Force,#LR8P9L8C,54000014,Challenger III
...,...,...,...,...,...,...,...,...,...,...
167228,Zimbabwe,SethyPlayz,#QQ2U8JCP8,397,2,30,NaN,NaN,54000001,Arena 1
167229,Zimbabwe,kingkong,#R0G2RYCJ2,398,2,30,NaN,NaN,54000001,Arena 1
167230,Zimbabwe,Lord Gargamel,#Y8Y2Y0PV0,399,2,29,NaN,NaN,54000001,Arena 1
167231,Zimbabwe,mattm8,#J089J0YCG,400,2,29,join,#YRUUY0C0,54000001,Arena 1
167232,Zimbabwe,sipoko,#R2U8RG0R8,401,2,28,NaN,NaN,54000001,Arena 1

In [8]:
df2 = pd.read_csv("games.csv")

C:\Users\GEFORCE_i5\AppData\Local\Temp\ipykernel_16056\3967979458.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("games.csv")

In [9]:
df2

,team_name,game_num,date,site,opp_name,w_l,pts,opp_pts,fg,fga,...,opp_ft,opp_fta,opp_ft_per,opp_orb,opp_trb,opp_ast,opp_stl,opp_blk,opp_tov,opp_pf
0,Abilene Christian Wildcats,1,2013-11-09,Away,Duquesne,L,75,94,22,63,...,27.0,37.000,0.730,10.0,40.0,19.0,4.0,2.0,10.0,22.0
1,Abilene Christian Wildcats,2,2013-11-11,Away,St. Bonaventure,L,47,75,14,40,...,23.0,32.000,0.719,18.0,40.0,15.0,7.0,7.0,9.0,23.0
2,Abilene Christian Wildcats,3,2013-11-13,Away,Maryland,L,44,67,17,54,...,17.0,0.647,12.000,38.0,12.0,9.0,10.0,17.0,8.0,NaN
3,Abilene Christian Wildcats,4,2013-11-17,Away,Iowa,L,41,103,14,54,...,18.0,22.000,0.818,5.0,35.0,25.0,11.0,5.0,5.0,10.0
4,Abilene Christian Wildcats,5,2013-11-19,Away,TCU,L,64,71,19,50,...,24.0,37.000,0.649,8.0,30.0,11.0,7.0,3.0,6.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90963,Youngstown State Penguins,28,2018-02-14,Home,Oakland,W,75,73,27,66,...,8.0,10.000,0.800,12.0,37.0,12.0,3.0,9.0,18.0,16.0
90964,Youngstown State Penguins,29,2018-02-16,Home,Detroit,L,84,94,32,64,...,24.0,25.000,0.960,6.0,26.0,16.0,10.0,2.0,8.0,17.0
90965,Youngstown State Penguins,30,2018-02-19,Away,Northern Kentucky,L,51,70,20,60,...,17.0,23.000,0.739,8.0,36.0,16.0,6.0,5.0,14.0,16.0
90966,Youngstown State Penguins,31,2018-02-24,Home,Cleveland State,L,94,99,35,84,...,20.0,30.000,0.667,10.0,40.0,18.0,5.0,3.0,18.0,22.0
90967,Youngstown State Penguins,32,2018-03-02,Neutral,Cleveland State,L,71,72,26,62,...,18.0,27.000,0.667,10.0,30.0,13.0,8.0,3.0,14.0,20.0

In [10]:
df3 = pd.read_csv('use-of-force.csv')

In [11]:
df3

,ID,Incident_Num,Incident_Type,Occured_date_time,Precinct,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender
0,2020UOF-1391-2534-22992,56962,Level 1 - Use of Force,2020-07-16T01:30:00.000,-,NaN,-,4773,23873,White,Female
1,2020UOF-1392-2853-22992,56995,Level 1 - Use of Force,2020-07-16T00:15:00.000,-,NaN,-,5615,23873,White,Female
2,2020UOF-1393-1194-22992,56961,Level 1 - Use of Force,2020-07-16T00:15:00.000,-,NaN,-,1780,23873,White,Female
3,2014UOF-0001-1377-203,251,Level 1 - Use of Force,2014-06-07T00:09:00.000,East,CHARLIE,C2,1594,203,Black or African American,Male
4,2014UOF-0002-1098-166,218,Level 1 - Use of Force,2014-05-30T14:06:00.000,East,GEORGE,G1,1673,166,White,Male
...,...,...,...,...,...,...,...,...,...,...,...
11550,2020UOF-1395-2229-22994,56959,Level 1 - Use of Force,2020-07-16T00:15:00.000,-,NaN,-,2206,23875,Not Specified,Female
11551,2020UOF-1396-1291-21869,54812,Level 2 - Use of Force,2020-04-05T15:02:00.000,-,NaN,-,1758,22753,Not Specified,Male
11552,2020UOF-1397-1259-21869,54799,Level 2 - Use of Force,2020-04-05T15:00:00.000,-,NaN,-,1750,22753,Not Specified,Male
11553,2020UOF-1398-2179-21869,54797,Level 2 - Use of Force,2020-04-05T15:02:00.000,-,NaN,-,2175,22753,Not Specified,Male
11554,2020UOF-1399-2751-22431,56056,Level 1 - Use of Force,2020-05-19T00:00:00.000,-,NaN,-,5304,23314,Black or African American,Male

# Data Cleaning

In [12]:
dataset_ns1 = df.copy()
dataset_ns2 = df2.copy()
dataset_ns3 = df3.copy()

In [13]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

# Modus

In [14]:
dataset_ns2['opp_pf'] = imputer_modus.fit_transform(dataset_ns2[['opp_pf']])
dataset_ns2.isna().sum()

team_name     0
game_num      0
date          0
site          0
opp_name      0
w_l           0
pts           0
opp_pts       0
fg            0
fga           0
fg_per        0
3p            0
3pa           0
3p_per        0
ft            0
fta           0
ft_per        0
orb           0
trb           0
ast           0
stl           0
blk           0
tov           0
pf            0
opp_fg        2
opp_fga       2
opp_fg_per    2
opp_3p        2
opp_3pa       2
opp_3p_per    2
opp_ft        2
opp_fta       2
opp_ft_per    2
opp_orb       2
opp_trb       2
opp_ast       2
opp_stl       2
opp_blk       2
opp_tov       2
opp_pf        0
dtype: int64

# mean

In [15]:
dataset_ns2['opp_stl'] = imputer_mean.fit_transform(dataset_ns2[['opp_stl']])

dataset_ns2.isna().sum()

team_name     0
game_num      0
date          0
site          0
opp_name      0
w_l           0
pts           0
opp_pts       0
fg            0
fga           0
fg_per        0
3p            0
3pa           0
3p_per        0
ft            0
fta           0
ft_per        0
orb           0
trb           0
ast           0
stl           0
blk           0
tov           0
pf            0
opp_fg        2
opp_fga       2
opp_fg_per    2
opp_3p        2
opp_3pa       2
opp_3p_per    2
opp_ft        2
opp_fta       2
opp_ft_per    2
opp_orb       2
opp_trb       2
opp_ast       2
opp_stl       0
opp_blk       2
opp_tov       2
opp_pf        0
dtype: int64

In [16]:
dataset_ns2.dropna(inplace=True)

dataset_ns2.isna().sum()

team_name     0
game_num      0
date          0
site          0
opp_name      0
w_l           0
pts           0
opp_pts       0
fg            0
fga           0
fg_per        0
3p            0
3pa           0
3p_per        0
ft            0
fta           0
ft_per        0
orb           0
trb           0
ast           0
stl           0
blk           0
tov           0
pf            0
opp_fg        0
opp_fga       0
opp_fg_per    0
opp_3p        0
opp_3pa       0
opp_3p_per    0
opp_ft        0
opp_fta       0
opp_ft_per    0
opp_orb       0
opp_trb       0
opp_ast       0
opp_stl       0
opp_blk       0
opp_tov       0
opp_pf        0
dtype: int64

# Data Duplicate

In [17]:
dataset_duplicate = df3.copy()

dataset_duplicate.duplicated().sum()

16

In [18]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

#  (K-NEAREST NEIGHBOUR) CLASSIFICATION

In [19]:
dataset_ns2.head()

,team_name,game_num,date,site,opp_name,w_l,pts,opp_pts,fg,fga,...,opp_ft,opp_fta,opp_ft_per,opp_orb,opp_trb,opp_ast,opp_stl,opp_blk,opp_tov,opp_pf
0,Abilene Christian Wildcats,1,2013-11-09,Away,Duquesne,L,75,94,22,63,...,27.0,37.000,0.730,10.0,40.0,19.0,4.0,2.0,10.0,22.0
1,Abilene Christian Wildcats,2,2013-11-11,Away,St. Bonaventure,L,47,75,14,40,...,23.0,32.000,0.719,18.0,40.0,15.0,7.0,7.0,9.0,23.0
2,Abilene Christian Wildcats,3,2013-11-13,Away,Maryland,L,44,67,17,54,...,17.0,0.647,12.000,38.0,12.0,9.0,10.0,17.0,8.0,18.0
3,Abilene Christian Wildcats,4,2013-11-17,Away,Iowa,L,41,103,14,54,...,18.0,22.000,0.818,5.0,35.0,25.0,11.0,5.0,5.0,10.0
4,Abilene Christian Wildcats,5,2013-11-19,Away,TCU,L,64,71,19,50,...,24.0,37.000,0.649,8.0,30.0,11.0,7.0,3.0,6.0,20.0

In [20]:
dataset_ns2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90966 entries, 0 to 90967
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   team_name   90966 non-null  object
 1   game_num    90966 non-null  int64
 2   date        90966 non-null  object
 3   site        90966 non-null  object
 4   opp_name    90966 non-null  object
 5   w_l         90966 non-null  object
 6   pts         90966 non-null  object
 7   opp_pts     90966 non-null  int64
 8   fg          90966 non-null  int64
 9   fga         90966 non-null  int64
 10  fg_per      90966 non-null  float64
 11  3p          90966 non-null  float64
 12  3pa         90966 non-null  int64
 13  3p_per      90966 non-null  float64
 14  ft          90966 non-null  float64
 15  fta         90966 non-null  int64
 16  ft_per      90966 non-null  float64
 17  orb         90966 non-null  float64
 18  trb         90966 non-null  int64
 19  ast         90966 non-null  int64
 20  stl         90966 non-null  int64
 21  blk         90966 non-null  int64
 22  tov         90966 non-null  int64
 23  pf          90966 non-null  int64
 24  opp_fg      90966 non-null  float64
 25  opp_fga     90966 non-null  float64
 26  opp_fg_per  90966 non-null  float64
 27  opp_3p      90966 non-null  float64
 28  opp_3pa     90966 non-null  float64
 29  opp_3p_per  90966 non-null  float64
 30  opp_ft      90966 non-null  float64
 31  opp_fta     90966 non-null  float64
 32  opp_ft_per  90966 non-null  float64
 33  opp_orb     90966 non-null  float64
 34  opp_trb     90966 non-null  float64
 35  opp_ast     90966 non-null  float64
 36  opp_stl     90966 non-null  float64
 37  opp_blk     90966 non-null  float64
 38  opp_tov     90966 non-null  float64
 39  opp_pf      90966 non-null  float64
dtypes: float64(22), int64(12), object(6)
memory usage: 28.5+ MB

# NAIVE BAYES

In [77]:
x = dataset_ns2[['opp_fg','opp_pf','opp_tov','opp_blk']]
y = dataset_ns2['ast']

In [78]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.2)

In [79]:
classifier = KNeighborsClassifier(n_neighbors = 5)

In [80]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [81]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [82]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: [16 12 11 ...  5 13 10]
Class: 16175    19
59187    12
44996     6
26541    19
29493    13
         ..
36173    18
17342    12
88375    15
25698     5
60550    15
Name: ast, Length: 18194, dtype: int64
akurasi: 0.060844234362976805

In [83]:
classifier.score(x_test,y_test)

0.060844234362976805

In [86]:
x = dataset_ns2[['opp_fg','opp_pf','opp_tov','opp_blk']]
y = dataset_ns2['ast']

In [87]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False, stratify=None)

In [88]:
classifier = GaussianNB()

In [89]:
classifier.fit(x_train,y_train)

GaussianNB()

In [90]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [91]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: [12]
Class: 90967    10
Name: ast, dtype: int64
akurasi: 0.0

In [92]:
classifier.score(x_test,y_test)

0.0